@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Reem+Kufi:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #e4e9f7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDDD;
    --text-color: #707070;
    --footer-background-light: #695cfe;
    --footer-background-dark: #000000;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}

/*================================================================/**/
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*================================================================/**/
.sidebar{
    position: relative;
    top: 0;
    left: 0;
    height: 99vh;
    width: 250px;
    padding: 10px 14;
    background: var(--sidebar-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
    z-index: 100;
}
.sidebar.close{
    width: 80px;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}


.sidebar header{
    position: relative;

}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
    margin-top: 20%;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
header .image-text .header-text{
    display: flex;
    flex-direction: column;
}
.header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -2px;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close .sidebar header .toggle{
    transform: translateY(-50%);
    
}

body.dark .sidebar header .toggle{
   
    color: var(--text-color)
}


.sidebar .menu{
    margin-top: 35px;
}

.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05)
}
.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-03);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);

}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);

}

.sidebar .menu-bar{
    height: 93.6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 1;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
   cursor: pointer;
   border-radius: 6px;
   background: var(--primary-color-light);
   transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background:var(--toggle-color);
}

.switch:before{
    content: '';
    position: absolute;
    height: 15px; 
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 24px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.sidebar.close ~ .home{
    height: 100vh;
}
.home {
    text-align: center;
    padding: 20px;
}

.form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form input[type="text"],
.form textarea,
.form input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}

.form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.form button:hover {
    background-color: #0056b3;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  font-size: 16px;
  margin-right: 5px; /* Espacio entre los botones de radio */
}
.botones{
	display: flex;
	justify-content: center;
}
.cajitas {
  
    margin: 10px;
    cursor: pointer;
    transition: border-color 0.3s, transform 0.3s;
}

/* Estilo para el radio button (oculto) */
.cajitas input[type="radio"] {
    margin-right: 10px; /* Espacio entre el botón de radio y el texto o imagen */
}

/* Cambiar el estilo de la caja cuando el radio button está seleccionado */
.cajitas input[type="radio"]:checked + label {
    border: 2px solid #007bff;
}

/* Estilo para el efecto de "hover" */
.cajitas:hover {
    transform: scale(1.05); /* Cambia el tamaño al hacer hover */
}

.cajitas img {
    max-width: 100%;
    height: auto;
}

a:hover{
    background: var(--primary-color);
    color: var(--text-color);
    letter-spacing: 0.12em;
    box-shadow: 0 0 35px var(--primary-color);
}


a span{
    position: relative;
    z-index: 1;
}
.boton{
    margin-top: 200px;
}

.sidebar .sub-menu {
    margin-top: 10px; /* Espacio entre "Proyectos" y la lista de proyectos */
}

.sidebar li:hover .sub-menu {
    display: block; /* Muestra la lista de proyectos al pasar el mouse sobre "Proyectos" */
}

.container{
	height: 100vh;
	width: 98.79vw;
	display: flex;
}

.footer{
	width: 98.79vw;
	height: 45vh;
	display: flex;
	flex-wrap: wrap;
}

.subFooter{
	height: 100%;
	width: 33.3%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 0.4%;
	
}
.imageFooter{
	height: 40%;
}

.tituloFooter{
	display: inline;
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 1%;
}

.textoFooter{
    text-align: center;
    font-size: small;
    color: white;
    padding: 0px 10px 0px 10px;
}

.contactoFooterImages{
	width: 30px;
	height: 30px;
}

.Footerimages{
	width: 80%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

.footerContacto{
	width: 59%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
}


a:hover{
    background: var(--primary-color);
    color: var(--text-color);
    letter-spacing: 0.12em;
    box-shadow: 0 0 35px var(--primary-color);
}


a span{
    position: relative;
    z-index: 1;
}
.boton{
    margin-top: 200px;
}

.menu-vertical {
    display: none;
    position: static;
    background-color: #fff; 
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
.menu-vertical li {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0; 
}

.menu-vertical li:last-child {
    border-bottom: none; 
}

.nav-link.open .menu-vertical {
    display: block;
}

.nav-link.open {
    height: auto;
}


.menu-vertical a {
    text-decoration: none;
    color: #333; 
    display: inline-block;
    padding: 10px;
}


.menu-vertical a:hover {
    background-color: #f0f0f0; 
}




